@import "mixins";

.container {
  padding-top: 1.90em;

  @include desktop {
    padding: 3.5em 5em 7em;
    display: flex;
    min-height: 100vh;
  }
}

.pattern-bg {
  position: absolute;
  width: calc(100% - 2em);
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--z-index-background);

  @include desktop {
    width: 22.25em;
    left: initial;
    top: 1.5em;
    right: 2em;
    transform: translateX(0);

  }
}

.pattern-curve {
  position: absolute;
  width: 75%;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-background);

  @include desktop {
    width: 40%;
  }
}

.pattern-quotes {
  position: absolute;
  width: 15%;
  top: 53%;
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--z-index-background);

  @include desktop {
    left: 8.25em;
    top: 7.15em;
    width: 4em;
    transform: translateX(0);
  }
}

.selector {
  position: relative;
  width: calc(100% - 4.25em);
  margin: 0 auto;

  @include desktop {
    position: absolute;
    width: 17.5em;
    right: 4.5em;
  }

  &__img {
    border-radius: .15em;
    box-shadow: 0 .5em 1em var(--color-secondary);

  }


  &__btn-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    display: flex;
    justify-content: space-between;
    background: white;
    width: 2.25em;
    padding: .1em .1em;
    border-radius: 2em;
    box-shadow: 0 .25em 1em var(--color-secondary);

    @include desktop {
      left: 3em;
      width: 2.75em;
    }
  }

  &__btn {
    background: transparent;
    border: none;
    padding: .5em;
  }
}

.testimony {
  margin-top: 2.25em;
  text-align: center;
  padding: 0 .75em;

  @include desktop {
    margin-top: auto;
    padding: 0;
    text-align: left;
  }


  &__content {
    font-size: .6rem;
    margin-bottom: 1.25em;
    font-weight: 300;

    @include desktop {
      text-align: left;
      font-size: 1rem;
      width: 20em;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__author,
  &__position {
    font-size: .5rem;

    @include desktop {
      font-size: .7rem;
      display: inline-block;
    }
  }

  &__author {
    font-weight: 700;

    @include desktop {
      margin-right: 1em;
    }

  }

  &__position {
    font-weight: 500;
    color: var(--color-secondary);
  }

}